<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Author</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.desc %></td>
        <td><%= slide.author %></td>
        <td><%= slide.picture %></td>
        <td><%= image_tag slide.picture.url(:med) %></td>
        <td><%= link_to 'Show', [:admin, slide] %></td>
        <td><%= link_to 'Edit', edit_admin_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', [:admin, slide], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_admin_slide_path %>
