<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @slide.desc %>
</p>

<p>
  <strong>Author:</strong>
  <%= @slide.author %>
</p>

<p>
<%= image_tag(@slide.picture.url(:med)) %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
